<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>My Account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{styles/common.css}"/>
  <link rel="stylesheet" th:href="@{styles/pages/account_details.css}"/>
  <link rel="stylesheet" th:href="@{styles/pages/project_details.css}">
  <link rel="stylesheet" th:href="@{styles/pages/edit_account.css}"/>
  <link rel="stylesheet" th:href="@{styles/navbar.css}"/>

  <script th:inline="javascript">
    /*<![CDATA[*/
    window.localStorage.setItem("globalImagePath", [[${globalImagePath}]] + "")
    window.localStorage.setItem("globalUrlPathPrefix", [[${globalUrlPathPrefix}]] + "")
    /*]]>*/
  </script>
  <script type="text/javascript" th:src="@{frontend/navbar.js}" defer></script>
  <script type="text/javascript" th:src="@{frontend/navbar_entry.js}"></script>
  <script type="text/javascript" th:src="@{scripts/navbar.js}"></script>
</head>
<body>
<div id="navbar-react-root"></div>
<div class="raised-card card-padding" style="display: flex;justify-content: center;">
  <div class="container">
    <div class="name-container">
      <div class="left-padding">
        <form id='form' action="#" th:action="@{edit_account}" th:object="${submittingUser}"
              method="post"
              enctype="multipart/form-data">
          <h1 class="edit-title">Edit Account Details</h1>

          <div class="form-row">
            <label th:for="email">Email *</label>
            <input type="email" th:field="${submittingUser.email}" th:required="required"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="${submittingUser.email}"
                 class="form-error">Email
              Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="firstName">First Name *</label>
            <input type="text" th:field="${submittingUser.firstName}" th:required="required"/>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="${submittingUser.firstName}"
                 class="form-error">First Name Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="middleName">Middle Name(s)</label>
            <input type="text" th:field="${submittingUser.middleName}"/>
            <div th:if="${#fields.hasErrors('middleName')}" th:errors="${submittingUser.middleName}"
                 class="form-error">Middle Name Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="lastName">Last Name *</label>
            <input type="text" th:field="${submittingUser.lastName}" th:required="required"/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="${submittingUser.lastName}"
                 class="form-error">Last Name Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="nickname">Nickname</label>
            <input type="text" th:field="${submittingUser.nickname}"/>
            <div th:if="${#fields.hasErrors('nickname')}" th:errors="${submittingUser.nickname}"
                 class="form-error">Nickname Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="personalPronouns">Personal Pronouns</label>
            <input type="text" th:field="${submittingUser.personalPronouns}"/>
            <div th:if="${#fields.hasErrors('personalPronouns')}"
                 th:errors="${submittingUser.personalPronouns}"
                 class="form-error">Pronouns Error
            </div>
          </div>

          <div class="form-row">
            <label th:for="bio">Bio</label>
            <textarea th:field="${submittingUser.bio}"></textarea>
            <div th:if="${#fields.hasErrors('bio')}" th:errors="${submittingUser.bio}"
                 class="form-error">Bio
              Error
            </div>
          </div>

          <div th:if="${error != null}">
            <p id="field-error" class="form-error" th:text="${error}"></p>
          </div>

          <p>*: Required field</p>

          <button id='submit' name="save" type="Submit" value="0">Save</button>
          <button type="button" onclick="window.location.href='my_account'">Cancel</button>
        </form>
      </div>
    </div>
    <div>
    </div>
    <div class="right-padding">
    </div>
  </div>
  <div>
  </div>
</div>

<script type="text/javascript" th:src="@{scripts/popup_form.js}"></script>
<script type="text/javascript" th:src="@{scripts/edit_account.js}"></script>
</body>

<style>
  input, textarea {
    width: 100%;
    max-width: 100%;
  }

  .form-row {
    width: 100%;
    padding-bottom: 20px;
  }

</style>
</html>
