<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Password</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{styles/common.css}"/>
  <link rel="stylesheet" th:href="@{styles/pages/account_details.css}"/>
  <link rel="stylesheet" th:href="@{styles/pages/edit_password.css}"/>
  <link rel="stylesheet" th:href="@{styles/pages/project_details.css}">
  <link rel="stylesheet" th:href="@{styles/navbar.css}"/>

  <script th:inline="javascript">
    /*<![CDATA[*/
    window.localStorage.setItem("globalImagePath", [[${globalImagePath}]] + "")
    window.localStorage.setItem("globalUrlPathPrefix", [[${globalUrlPathPrefix}]] + "")
    /*]]>*/
  </script>
  <script type="text/javascript" th:src="@{frontend/navbar.js}" defer></script>
  <script type="text/javascript" th:src="@{frontend/navbar_entry.js}"></script>
  <script type="text/javascript" th:src="@{scripts/navbar.js}"></script>
</head>
<body>
<div id="navbar-react-root"></div>
<div class="raised-card card-padding">
  <div class="container">
    <div class="name-container">
      <div class="left-padding">
        <form id='form' action="#" th:action="@{edit_password}" method="post">
          <h1 class="edit-title">Edit Password</h1>

          <div class="form-row">
            <label>Current Password *: </label>
            <input type="password" name="currentPassword" th:required="required"
                   th:value="${currentPass}"/>
          </div>

          <div class="form-row">
            <label>New Password *: </label>
            <input id="password" type="password" name="newPassword" th:required="required"
                   oninput="enableConfirmPassword()" th:value="${newPass}"/>
          </div>

          <div class="form-row">
            <label>Confirm Password *: </label>
            <input id="confirmPassword" type="password" name="confirmPassword"
                   th:required="required" disabled th:value="${confirmPass}"
                   oninput="passwordMatchValidator()"/>
          </div>

          <div id="confirmPassError" class="form-error"></div>

          <div th:if="${error != null}">
            <p class="form-error" th:text="${error}"></p>
          </div>

          <p>*: Required field</p>

          <button id='submit' name="save" type="Submit" value="0">Save</button>
          <button type="button" onclick="window.location.href='my_account'">Cancel</button>

        </form>

      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" th:src="@{scripts/password_validator.js}"></script>
</html>>