<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="'Error ' + ${status} +  ': ' + ${message}"></title>

    <link type="text/css" rel="stylesheet" th:href="@{/styles/common.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/pages/error.css}"/>

</head>
<body>
<div class="raised-card error-container">
    <h1 th:text="'Error ' + ${status} + ' - ' + ${message}"></h1>
    <p>Sorry about that!</p>
    <div class="actions">
        <button th:data-global-url-path-prefix="${globalUrlPathPrefix}" onclick="window.location.href = (this.getAttribute('data-global-url-path-prefix') ?? '') + '/login'">Go Home</button>
    </div>
</div>

</body>
</html>