<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calendar</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{../styles/common.css}"/>
  <link rel="stylesheet" th:href="@{../frontend/monthly_planner.css}"/>
  <link rel="stylesheet" th:href="@{../frontend/src/entry/monthly_planner.css}"/>
  <link rel="stylesheet" th:href="@{../styles/pages/project_details.css}">
  <link rel="stylesheet" th:href="@{../styles/navbar.css}"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--  Taken from https://stackoverflow.com/a/25688291  -->
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.userCanEdit = /*[[${canEdit}]]*/ 'default';
    window.localStorage.setItem("canEdit", [[${canEdit}]] + "")
    window.relativePath = /*[[${relativePath}]]*/ 'default';
    window.localStorage.setItem("relativePath", [[${relativePath}]] + "")
    window.localStorage.setItem("globalImagePath", [[${globalImagePath}]] + "")
    window.localStorage.setItem("globalUrlPathPrefix", [[${globalUrlPathPrefix}]] + "")

    /*]]>*/
  </script>
  <script type="text/javascript" th:src="@{../frontend/navbar.js}" defer></script>
  <script type="text/javascript" th:src="@{../frontend/monthly_planner.js}" defer></script>
  <script type="text/javascript" th:src="@{../frontend/navbar_entry.js}"></script>
  <script type="text/javascript" th:src="@{../scripts/navbar.js}"></script>
</head>
<body>
<div id="navbar-react-root"></div>
<div id="react-root"></div>
</body>

<style>
  .fc .fc-daygrid-event {
    z-index: revert;
  }

  .fc .fc-daygrid-day-number {
    z-index: revert;
  }

  .fc-event .fc-event-main:hover {
    transition-delay: 500ms;
    z-index: revert;
  }

</style>

</html>