<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Socket Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{../styles/common.css}"/>
    <link rel="stylesheet" th:href="@{../frontend/monthly_planner.css}"/>
    <link rel="stylesheet" th:href="@{../frontend/src/entry/monthly_planner.css}"/>
    <link rel="stylesheet" th:href="@{../styles/pages/project_details.css}">
    <link rel="stylesheet" th:href="@{../styles/navbar.css}"/>
    <script type="text/javascript" th:src="@{../frontend/socket_test.js}" defer></script>
</head>
<body>
    <div id="react-root"></div>
</body>
</html>